body {
    background-color: rgb(19, 60, 73);
}

#links-banner {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    height: 10%;
}

.banner-box {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 0 23%;
    background-color: linen;
}

.banner-img {
    max-width: 100%;
    height: auto;
    max-height: 60px;
}

h1 {
    color: linen;
}
h2 {
    color: linen;
}

p {
    color: black;
    font-family: monospace;
}