body {
    display: flex;
    flex-direction: column;
    background-color: rgb(11, 61, 77);
    align-items: center;
}

h1 {
    font-family: Calibri;
    color: black;
    text-align: center;
    margin: -0.2rem;
}
h2 {
    font-family: Calibri;
    color: linen;
}
h3 {
    font-family: Calibri;
    color: black;
    text-align: center;
    margin: -0.1rem;
}
p {
    font-family: Calibri;
    text-align: justify;
    color: linen;
}


/*--------BANNER--------*/

#links-banner {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: rgb(204, 199, 194);
    /* border: 1px dotted red; */
}
@media (min-width: 1000px) {
    #links-banner {
        width: 1000px;
    }
  }
#title-box{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 25%;
    background-color: rgb(204, 199, 194);
    /* border: 9px dotted red; */
}
@media (min-width: 1000px) {
    #title-box {
        flex: 0 0 14%;
        /* border: 3px solid linen; */
    }
  }
#title-text {
    color: rgb(3, 31, 39);
}
@media (max-width: 1000px) {
    #title-text {
        font-size: xx-large;
        margin: 1rem;
    }
  }
#double-layer{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px dotted red; */
}
@media (min-width: 1000px) {
    #double-layer {
        flex-wrap: nowrap;
    }
  }
#layer-1,
#layer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px dotted red; */
}
@media (min-width: 1000px) {
    #layer-1,
    #layer-2 {
        width: 50%;
    }
  }
.banner-box-1,
.banner-box-2 {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 33.333%;
}
.banner-box-1 {
    background-color: rgb(250, 240, 230);
}
.banner-box-2 {
    background-color:transparent;
}
.banner-img-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
}
.banner-img-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: auto;
}



/*--------TEXT BOX--------*/
#text-box-1 {
    overflow: hidden;
    background-color: linen;
}
@media (min-width: 1000px) {
    #text-box-1 {
        width: 1000px;
    }
  }
.text-box-text {
    margin: 2rem;
    color: black;
}


/*--------IMAGE CAROUSEL--------*/
#carusel-text {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* carousel settings */
.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(3, 31, 39);
}
@media (min-width: 1000px) {
    .carousel-wrapper {
        width: 1000px;
    }
  }
.carousel {
    transform-style: preserve-3d;
}
.carousel_photo {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 100;
    transition: transform .3s, opacity .3s, z-index .3s;
}
.carousel_photo.initial,
.carousel_photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}
.carousel_photo.prev,
.carousel_photo.next {
    z-index: 800;
}
.carousel_photo.prev {
    transform: translateX(-100%); /* 'prev' item on the left*/
}
.carousel_photo.next {
    transform: translateX(100%); /* 'next' item on the right*/
}

/* carousel button settings */
.carousel_button--prev,
.carousel_button--next {
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 100%;
    background-color: black;
    opacity: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1001; /* infront of everything */
}
.carousel_button--prev {
    left: 0;
}
.carousel_button--next {
    right: 0;
}
.carousel_button--prev::after,
.carousel_button--next::after {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 54%;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: translate(-50%, -50%) rotate(135deg);
}
.carousel_button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}