body {
    background-color: rgb(11, 61, 77)
}

h1 {
    margin: -0.1rem;
    font-family: Calibri;
    color: black;
}
h2 {
    font-family: Calibri;
    color: linen;
}
h3 {
    font-family: Calibri;
    color: black;
    margin: -0.1rem;
}
p {
    font-family: Calibri;
    color: linen;
}


/*--------BANNER--------*/
#links-banner {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    /* border: 1px dotted red; */
}
#title-box{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 25%;
    background-color: linen;
    border: 2px solid rgb(11, 61, 77);
    /* border: 1px dotted red; */
}
#double-layer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px dotted red; */
}
#layer-1,
#layer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px dotted red; */
}

.banner-box {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 0 0 32%;
    background-color: linen;
    border: 2px solid rgb(11, 61, 77);
}
.banner-img-wrapper {
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-items: center;
    /* border: 1px dotted red; */
    /* background-color: linen;  */
}
.banner-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: auto;
}

/*--------TEXT BOX--------*/
#text-box-1 {
    overflow: hidden;
    background-color: linen;
}
.text-box-text {
    margin: 2rem;
    color: black;
}


/*--------IMAGE CAROUSEL--------*/
#carusel-text {
    margin-left: 2rem;
}

/* carousel settings */
.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(3, 31, 39);
    border: 3px solid rgb(11, 61, 77);
}
.carousel {
    transform-style: preserve-3d;
}
.carousel_photo {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 100;
    transition: transform .3s, opacity .3s, z-index .3s;
}
.carousel_photo.initial,
.carousel_photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}
.carousel_photo.prev,
.carousel_photo.next {
    z-index: 800;
}
.carousel_photo.prev {
    transform: translateX(-100%); /* 'prev' item on the left*/
}
.carousel_photo.next {
    transform: translateX(100%); /* 'next' item on the right*/
}

/* carousel button settings */
.carousel_button--prev,
.carousel_button--next {
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 100%;
    background-color: black;
    opacity: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1001; /* infront of everything */
}
.carousel_button--prev {
    left: 0;
}
.carousel_button--next {
    right: 0;
}
.carousel_button--prev::after,
.carousel_button--next::after {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 54%;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: translate(-50%, -50%) rotate(135deg);
}
.carousel_button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}